.playlists-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    position: relative;
    min-height: 90%;
}

.remote-playlist-container {
    float: right;
    width: 50%;
    text-align: center;
    margin-right: 5px;
}

.saved-playlist-container {
    float: left;
    width: 50%;
    text-align: center;
    margin-left: 5px;
}

@media only screen and (max-width: 700px){
    .remote-playlist-container, .saved-playlist-container{
        width: 100%;
        float: none;
    }

    .playlists-container {
        display: block;
    }
}
