.podcast-cell {
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
    display: flex;
    align-content: center;
    overflow: auto;
    position: relative;
}

.podcast-image {
    width: 50px;
    height: 50px;
    margin: auto;
    position: relative;
}

.podcast-cell img {
    max-width:100%;
    max-height:100%;
}

.podcast-button {
    height: 50px;
    width: 50px;
    margin: auto;
    position: relative;
}

.podcast-button button {
    width:100%;
    height:100%;
}

.podcast-content {
    width: 70%;
    margin: auto;
    overflow: scroll;
    position: relative;
}

#podcast-title {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#podcast-description {
    font-size: 11px;
    margin-top: 0px;
}