#main-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0;
}

#playlist-nav {
  height: 30px;
  /* align-items: center; */
  /* justify-content: center; */
}
